{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Tous les articles</h1>


        {% for article in articles %}

            <table class="table-center">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <h4 class="card-subtitle mb-2 text-muted">{{ article.creationDate ? article.creationDate|date('Y-m-d H:i:s') : '' }}</h4>
                        <a href="/article/{{ article.id }}" class="btn btn-primary">Lire ce super post</a>
                    </div>
                    <div class="card-footer text-muted">
                       écrit par :  {{ article.author.username}}
                    </div>
                </div>


                   {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {%  set current_user = app.user%}
    {% if current_user != null %}
        <a href="{{ path('article_new') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Créer un article</a>
    {% endif %}

{% endblock %}
