{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <div class="jumbotron">
        <h1 class="display-4">{{ article.title }}</h1>
        <p class="lead">Publié le {{ article.creationDate ? article.creationDate|date('Y-m-d H:i:s') : '' }} par {{ article.author.username }}</p>
        <hr class="my-4">
        <p>{{ article.content }}</p>
        <a class="btn btn-primary btn-lg" href="{{ path('article_index')}}" role="button">Retour</a>
        {%  set current_user = app.user%}
        {% if current_user != null %}
            {% if current_user.username == article.author.username %}
                <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary btn-lg " role="button" aria-pressed="true">Éditez cette article</a>
                {{ include('article/_delete_form.html.twig') }}
            {% endif %}
        {% endif %}


    </div>



{% endblock %}
